body {
  background: #272822;
}

.App {
  text-align: center;
}

a, a:focus, a:hover {
  color: #2a9fd6
}


pre.results {
  color: gray;
  text-align: left;
  font-family: "roboto mono", consolas, monospace;
  font-size: 11px;
  margin: 64px 0 0 0;
}

h4.results {
    color: white;
}

pre.results a {
  text-decoration: none;
}

pre.results a:focus, pre.results a:hover {
  text-decoration: underline;
}

pre.results code {
  white-space: pre;
}

.filter input {
  color: white;
}

.filter > div:after {
  border-bottom-color: white;
}
